.testmonials{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        font-size: 50px;
     //   overflow: hidden;
    }

    .container{
        width:100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;

        .card{
            width:250px;
            height: 75%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            transition: all 0.5s ease;

            &.featured{
                width:300px;
                height: 77%;
                margin: 0 30px;
                box-shadow: 0px 0px 15px -8px red;
            }

            &:hover{
                transform: scale(1.1);
            }
            .top{
                display:flex;
                align-items: center;
                justify-content: center;
                img{
                    &.left,&.right{
                        height: 25px;
                    }
                    &.user{
                        height: 60px;
                        width:60px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 30px;
                    }
                }
            }
            .center{
                padding:10px;
                border-radius: 10px;
                background-color: rgb(248, 231, 235);
            }
            .bottom{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h3{
                    margin-bottom: 5px;
                }
                h4{
                    color: gray;
                }
            }
        }
    }

}